#footer {
    background-image:url(../images/bottom.jpg);
    width:1002px;
    height:100px;
    float:left;
    margin-top: 15px;
}
#footer .copyright{
    height: 70px;
    line-height: 70px;
    font-size:14px;
    text-align: center;
}
#footer .url a{
    margin-left: 10px;
    margin-right:20px;
    line-height: 30px;
    height:30px;
    font-size:12px;
    font-weight:500;
}

