#top{
    background-image:url(../images/top.jpg);
    height:400px;
}
.topbanner .left{
    float:left;
    line-height: 100px;
}
.topbanner{
    height:100px;
}
.topbanner h1{
    float:left;
    padding-left:20px;
    font-weight:900; 
    font-size: 28px; 
}
.topbanner .menu{
    float:right;
   
}
.topbanner .menu li{
    float:left;
    width:94px;
    height:36px;
    background-image:url(../images/dh.gif);
    margin:56px 2px 0 0;
    color:white;
    line-height:36px;
    font-size:14px;
    text-align: center;
}
.topbanner a:link {text-decoration:none; color:#fff}		/* 未访问的链接 */
.topbanner a:visited {text-decoration:none; color:#fff}	/* 已访问的链接 */
.topbanner a:hover {text-decoration:none; color:#fff} 
.topbanner a:active {text-decoration:none; color:#fff}

